Repository AY2021S1-CS2113T-T12-3/tp, pull requests merged in 2020-11, with the labels that each got.

#180 add, select implementation bugs
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/class/jpeg/Storage_UML_class.jpeg
  docs/diagrams/class/jpeg/add_notebook.jpg
  docs/diagrams/class/jpeg/add_task.jpg
  docs/diagrams/class/jpeg/select_notebook.jpg
  docs/diagrams/class/visio/add-select_notebook.vsdx
  docs/images/welcome.png
  notebooks.txt
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/duke/exceptions/DuplicateFoundException.java
  src/main/java/seedu/duke/exceptions/InvalidPageException.java
  src/main/java/seedu/duke/notebooks/Notebook.java
  src/main/java/seedu/duke/notebooks/NotebookShelf.java
  src/main/java/seedu/duke/notebooks/Section.java
  src/main/java/seedu/duke/userinterface/InputParser.java
  src/main/java/seedu/duke/userinterface/command/notebook/SelectCommandNotebookMode.java
  src/main/java/seedu/duke/userinterface/command/timetable/AddCommandTimetableMode.java
Labels: priority.High, severity.High, type.Bug, type.Enhancement

#182 Updated DoneCommand to correct mode and Save Name Issue
  src/main/java/seedu/duke/exceptions/InvalidModeException.java
  src/main/java/seedu/duke/storage/Storage.java
  src/main/java/seedu/duke/userinterface/CliUserInterface.java
  src/main/java/seedu/duke/userinterface/InputParser.java
  src/main/resources/txt/nameOfUser.txt
Labels: severity.Medium, type.Bug

#195 Fix storage exception
  src/main/java/seedu/duke/storage/Storage.java
  src/main/java/seedu/duke/userinterface/CliMessages.java
Labels: severity.Medium, type.Bug

#193 Change remove page by number to page by title
  notebooks.txt
  src/main/java/seedu/duke/notebooks/Section.java
  src/main/java/seedu/duke/userinterface/InputParser.java
  src/main/java/seedu/duke/userinterface/command/notebook/AddCommandNotebookMode.java
  src/main/java/seedu/duke/userinterface/command/notebook/RemoveCommandNotebookMode.java
  tasks.txt
Labels: priority.High, type.Enhancement

#201 Add a prompt to the user input
  src/main/java/zeronote/userinterface/CliUserInterface.java
Labels: code, priority.Medium

#209 Final few Junit tests before 2.1rc1
  src/main/java/zeronote/exceptions/TaskIndexIncorrectFormatException.java
  src/main/java/zeronote/exceptions/TaskIndexOutOfBoundsException.java
  src/main/java/zeronote/exceptions/TaskListEmptyException.java
  src/main/java/zeronote/tasks/TaskList.java
  src/main/java/zeronote/userinterface/AppState.java
  src/main/java/zeronote/userinterface/CliMessages.java
  src/main/java/zeronote/userinterface/CliUserInterface.java
  src/main/java/zeronote/userinterface/InputParser.java
  src/main/java/zeronote/userinterface/command/CliCommand.java
  src/main/java/zeronote/userinterface/command/notebook/ListCommandNotebookMode.java
  src/main/java/zeronote/userinterface/command/timetable/AddCommandTimetableMode.java
  src/main/java/zeronote/userinterface/command/timetable/DoneCommandTimetableMode.java
  src/main/java/zeronote/userinterface/command/timetable/ListCommandTimetableMode.java
  src/main/java/zeronote/userinterface/command/timetable/TagCommandTimetableMode.java
  src/test/java/zeronote/AppModeTest.java
  src/test/java/zeronote/userinterface/command/notebook/ListNotebookTest.java
  src/test/java/zeronote/userinterface/command/timetable/AddTaskTest.java
  src/test/java/zeronote/userinterface/command/timetable/FindTaskTest.java
  src/test/java/zeronote/userinterface/command/timetable/ListTaskTest.java
  src/test/java/zeronote/userinterface/command/timetable/MarkAsDoneTest.java
  src/test/java/zeronote/userinterface/command/timetable/TagTaskTest.java
  tasks.txt
Labels: code, severity.Low, type.Task

#216 Update neilbaner PPP
  docs/team/neilbaner.md
  src/test/java/zeronote/userinterface/command/notebook/ListNotebookTest.java
  src/test/java/zeronote/userinterface/command/timetable/ListCommandTimetableModeTest.java
Labels: docs, priority.High, type.Task

#217 Update FAQs in the User Guide
  docs/UserGuide.md
  docs/diagrams/class/jpeg/notebooks.jpg
  docs/diagrams/class/visio/notebooks.vsdx
Labels: docs, priority.High, type.Task

#232 Fix the storage section to be easier to understand
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/Notebookshelfexplanation.png
Labels: docs, priority.Medium, type.Task

#234 Updated to welcome back users and to save userName even when the app crashes
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/zeronote/storage/Storage.java
  src/main/java/zeronote/userinterface/CliUserInterface.java
  src/main/resources/txt/nameOfUser.txt
  tasks.txt
Labels: code, priority.Medium, type.Enhancement

#240 Updated UGDG - More user centric and include proposed save feature for tags
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/class/jpeg/DoneCommand_Sequence_diagram.jpg
  docs/diagrams/class/jpeg/Storage_UML_Class.jpg
  docs/team/longngng.md
  src/main/java/zeronote/exceptions/TaskIndexOutOfBoundsException.java
  src/main/java/zeronote/exceptions/TaskListEmptyException.java
  src/main/java/zeronote/exceptions/ZeroNoteException.java
  src/main/java/zeronote/storage/Storage.java
  src/main/java/zeronote/userinterface/AppState.java
  src/main/java/zeronote/userinterface/CliMessages.java
  src/main/java/zeronote/userinterface/command/timetable/DoneCommandTimetableMode.java
  src/main/java/zeronote/userinterface/command/timetable/FindCommandTimetableMode.java
  src/test/java/zeronote/userinterface/command/timetable/FindTaskTest.java
Labels: docs, priority.High, type.Enhancement

#260 Fixed Data directory
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: docs, priority.High, type.Task
